*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --primary: hsl(322, 100%, 66%);
    --Cyan: hsl(193, 100%, 96%);
    --Cyan: hsl(192, 100%, 9%);
    --Blue: hsl(208, 11%, 55%);
    --heading: 'popp'
}
body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    background-image: url('../');
}